.question-mark-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  .tooltip {
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    background-color: #333;
    color: white;
    border-radius: 0.25rem;
    font-size: 0.75rem;
    white-space: nowrap;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    z-index: 100;
  }
  
  @media (max-width: 600px){
    .tooltip {
     
        bottom: 100%;
        left: 0%;
        transform: translateX(-70%);
    }
      
  }