
  .level-0 {
    margin-left: 0px;
    padding: 10px;
    border: 1px solid #ff80bf;
    border-radius: 5px;
    margin: 5px 0;
    background-color: #f8dbee;
  }
  
  .level-1 {
    margin-left: 20px;
    padding: 10px;
    border: 1px solid #ff80bf;
    border-radius: 5px;
    margin: 5px 0;
    background-color: #f1bee1;
  }
  
  .level-2 {
    margin-left: 40px;
    padding: 10px;
    border: 1px solid #ff80bf;
    border-radius: 5px;
    margin: 5px 0;
    background-color: #f0a4d8;
  }
  
  .addChangeDeleteBtn{
    margin-left: 10px;
    border: none;
    color:rgb(105, 105, 105);
    background-color: rgba(255, 255, 255, 0);
  }