.up_arrow{
    width: 15px;
    height: 15px;
}
.down_arrow{
    width: 15px;
    height: 15px;
}
.categories{
    color: #555555;
}

ul {
    list-style-type: none;
}   
.all_level{
  /* border: 1px solid #fea6d2; */
}

.level2-0 {
    margin-left: 8px;
    padding: 5px;
    font-size: 15px;
    /* border: 1px solid #fea6d2; */
    border-radius: 5px;
    margin: 5px 0;
   
  }
  
  .level2-1 {
    margin-left: 10px;
    padding: 5px;
    font-size: 12px;

    margin: 5px 0;

  }
  
  .level2-2 {
    margin-left: 20px;
    padding: 5px;
    font-size: 10px;
    margin: 5px 0;
  
  }