.followers-list {
    display: flex;
    flex-wrap: wrap; /* 여러 줄로 넘어갈 수 있도록 설정 */
    gap: 16px; /* 아이템 간의 간격 */
}

.follower-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; /* 부모 요소에 상대적으로 배치 */
    margin-bottom: 16px;
}

.follower-image-wrapper {
    position: relative; /* 삭제 버튼을 이미지 위에 배치 */
}

.delete-button {
    position: absolute;
    top: -3px; /* 이미지의 오른쪽 상단에 배치 */
    right: -8px;
    width: 25px;
    height: 25px;
    cursor: pointer;
}
.hover-message {
    background-color: white; /* 흰색 배경 */
    color: #333; /* 어두운 텍스트 */
    padding: 6px 10px;
    border: 1px solid #ccc; /* 밝은 회색 테두리 */
    border-radius: 4px;
    font-size: 12px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* 가벼운 그림자 */
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    z-index: 10;
  }

  .modal-overlay2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 어두운 반투명 배경 */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .modal-content2 {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1001;
  }
  
  .modal-close2 {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 24px;
    color: #333;
  }
  