/* .App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .main-content {
    display: flex;
    flex: 1;
  }
  
  .sidebar {
    width: 25%;
    background-color: #f4f4f4;
    padding: 20px;
  }
  
  .profile {
    margin-bottom: 20px;
  }
  
  .content {
    width: 75%;
    padding: 20px;
  }
  */