.main-content {
  display: grid;
  grid-template-columns: 2.5fr 1fr; /* 두 개의 열 */
  gap: 20px; /* 요소들 간의 간격 */
  padding: 20px;
}

section {
  margin-bottom: 2rem;
}

.MainPosts-section {
  grid-column: 2 /45;
  grid-row: 1 / 6; /* 1행부터 5행까지 차지 */
}