/* src/myblog/ManagePost/PostDetail.css */
.postdetail-detail {
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
    background-color: #fff;
    border: 2px solid #ff88d769; /* 테두리 추가 */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .postdetail-detail h1 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
  }
  .button-group {
    display: flex;
    gap: 10px; /* 버튼 사이의 간격을 조정할 수 있습니다 */
    margin-top: 10px; /* 버튼 그룹의 상단 마진을 조정할 수 있습니다 */
  }

  .postdetail-meta {
    max-width: 1000px;
    margin-top: 50px;
    font-size: 0.9em;
    color: #666;
    display: flex;
    justify-content: space-between;
  }
  
  .postdetail-meta span {
    margin-right: 10px;
  }
  
  .postdetail-meta .post-likes,
  .postdetail-meta .post-comments {
    margin-left: 20px;
  }
  
  .postdetail-content {
    margin-top: 20px;
    line-height: 1.6;
    color: #333;
  }
  .like-button {
    margin-top: 20px;
    background-color: transparent;
    border: 2px solid #ff88d769;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
  }
  .tags {
    margin-top: 10px;
    margin-bottom: 15px;
  }
  
  .tag {
    font-weight: bold;
    display: inline-block;
    background-color: #FFE6FA;
    border-radius: 12px;
    padding: 5px 10px;
    margin-right: 5px;
    font-size: 14px;
  }