/* src/myblog/ManagePost/PostDetail.css */
.postdetail-detail {
    padding: 20px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    background-color: #fff;
    border: 2px solid #ff88d769; /* 테두리 추가 */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex-wrap: wrap;
  }
  
  .postdetail-detail h1 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
    overflow: hidden; /* 태그 내용이 넘치면 잘림 방지 */
    box-sizing: border-box;
    flex-wrap: wrap;
    text-overflow: ellipsis; /* 넘치는 텍스트는 말줄임표 처리 */
  }
  .button-group {
    display: flex;
    gap: 10px; /* 버튼 사이의 간격을 조정할 수 있습니다 */
    margin-top: 10px; /* 버튼 그룹의 상단 마진을 조정할 수 있습니다 */
  }

  .postdetail-meta {
    /* max-width: 1000px; */
    margin-top: 50px;
    font-size: 0.9em;
    color: #666;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .postdetail-meta span {
    margin-right: 10px;
  }
  
  .postdetail-meta .post-likes,
  .postdetail-meta .post-comments {
    margin-left: 20px;
  }
  
  .postdetail-content {
    margin-top: 20px;
    line-height: 1.6;
    color: #333;
    flex-wrap: wrap;
    white-space: wrap; 
    width: 100%; 
    box-sizing: border-box; 
  }
  .like-button {
    margin-top: 20px;
    background-color: transparent;
    border: 2px solid #ff88d769;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
    cursor: pointer;
    width: 60px;
    height: 30px;
    min-width: 60px; /* 최소 크기 설정 */
    min-height: 30px; /* 최소 크기 설정 */
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    margin-right: 5px;
  }
.reply-edit-delete-mobile{
  display: none;
}
.reply-edit-delete{
  display: flex;
}
  .like-button2 {
    margin-top: 20px;
    background-color: transparent;
    border: 2px solid #ff88d769;
    border-radius: 10px;
    width: 60px;
    height: 30px;
    min-width: 60px; /* 최소 크기 설정 */
    min-height: 30px; /* 최소 크기 설정 */
    margin-right: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
  }


  .comment-like-button {
    
    background-color: transparent;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
  }
  .tags {
    margin-top: 10px;
    margin-bottom: 15px;
  }
  
  .tag {
    font-weight: bold;
    display: inline-block;
    background-color: #FFE6FA;
    border-radius: 12px;
    padding: 5px 10px;
    margin-right: 5px;
    font-size: 14px;
  }

  .tagTitle{
    font-weight: bold;
   
    background-color: #FFE6FA;
    border-radius: 12px;
    padding: 5px 10px;
    margin-right: 5px;
    font-size: 14px;
  }
.tagTitle-all{
  display: flex;
  align-items: center;
}
  .comment-section {
    margin-top: 40px;
    padding: 20px;
    border-top: 1px solid #FF88D7;
    background-color: #fdedf543;
    width: 100%;
  }
  .reply-section{
    width: 100%;
    margin-left: 20px;
    margin-top: 10px;
  }
  .titleSort{
    display: flex;
    align-items: center;
  }
  .toggle-sort-comment{
    margin-left: 10px;
    color: #FFC7E9;
    background-color: transparent;
    font-weight: bold;
    cursor: pointer;
  }
  
  .toggle-sort-comment.click{
    margin-left: 10px;
    background-color: transparent;
    color: #FF88D7;
    font-weight: bold;
  }
  .reply-list{
    width: 100%;
  }
  .comment-section h3 {
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: bold;
  }
  .comment-profile {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%; 
}
  
  .textarea-container {
    position: relative;
    width: 90%; 
    margin-left: 10px;
    /* min-width: 870px; 
    min-height: 100px; */
}
  
.textarea-container2 {
  position: relative;
  width: 80%; /* 너비를 100%로 고정 */
  margin-left: 10px;
  /* min-width: 400px; 
  min-height: 100px; */
}

.comment-input {
    width: 100%; /* 항상 너비를 100%로 설정 */
    height: 100px;
    padding: 10px;
    border: 2px solid #FECDF4;
    border-radius: 5px;
    font-size: 14px;
    resize: none;
    margin-bottom: 20px;
    outline: none;
    box-sizing: border-box;
}
  
  .comment-input:focus {
    border-color: #fe76d1;
    outline: none;
  }
  
  .comment-submit-button {
    position: absolute;
    bottom: -10px;
    right: 10px;
    background-color: #FF88D7;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
  }
  
  .comment-submit-button:hover {
    background-color: #fe76d1;
  }
  
  .comment-list {
    margin-top: 20px;
    border-top: 1px solid #FECDF4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    /* min-height: 150px;  */
}
  
  .comment-list .comment-item {
    padding: 10px;
    border-bottom: 1px solid #FECDF4;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%; /* 너비를 100%로 설정해 중앙 정렬 방지 */
    align-items: flex-start;
  }
  .comment-list .comment-item2 {
    padding: 10px;
   
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 90%; /* 너비를 100%로 설정해 중앙 정렬 방지 */
    align-items: flex-start;
  }
  .comment-list .comment-item:last-child {
    border-bottom: none;
  }

  .comment-header{
 
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%; /* 헤더도 너비를 100%로 설정 */
  }

  .comment-header2{
 
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 90%; /* 헤더도 너비를 100%로 설정 */
  }
.spaceBar{
  width:15px;
  height: 15px;
  margin-top: 10px;
  margin-right: 5px;
}
  .comment-item-author {
    font-weight: bold;
    margin-right: 10px;
    background-color:transparent;
  }
  
  .comment-item-content {
    margin-left: 10px;
    margin-top: 5px;
    background-color:transparent;
    flex-grow: 1; /* 댓글 내용을 차지하는 공간을 늘려줍니다 */
  }

  .comment-content {
    margin-top: 5px;
    background-color: transparent;
    color: #4d4d4d;
    white-space: pre-wrap; /* 줄바꿈을 유지하면서 내용이 자동으로 다음 줄로 넘어가도록 */
    overflow-wrap: break-word; /* 긴 단어가 있을 때 자동으로 줄바꿈 */
    word-break: break-word; /* 긴 단어가 박스 밖으로 넘치지 않도록 강제로 줄바꿈 */
    /* max-height: 500px; 
    width: 700px; */
    overflow-y: auto; /* 내용이 너무 길 경우 스크롤 가능하도록 */

    width: 100%; /* 항상 너비를 100%로 설정 */
    font-size: 14px;
    resize: none;
    margin-bottom: 20px;
    box-sizing: border-box;
  }
  .heart2 {
    width: 50px;
    min-width: 50px;
    min-height: 50px;
    height: 50px;
    border-radius: 50%; /* 이미지를 원형으로 만듭니다 */
    border: 2px solid #FF88D7; /* 원하는 색상과 두께의 테두리를 추가합니다 */
    object-fit: cover; /* 이미지를 테두리 내에 맞게 조정합니다 */
  }
  .comment-content2 {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 15px;
    background-color: transparent;
    color: #4d4d4d;
    white-space: pre-wrap; /* 줄바꿈을 유지하면서 내용이 자동으로 다음 줄로 넘어가도록 */
    overflow-wrap: break-word; /* 긴 단어가 있을 때 자동으로 줄바꿈 */
    word-break: break-word; /* 긴 단어가 박스 밖으로 넘치지 않도록 강제로 줄바꿈 */
    /* max-height: 700px; 
    max-width: 500px;
    width: 500px; */
    overflow-y: auto; /* 내용이 너무 길 경우 스크롤 가능하도록 */
  }
  textarea.comment-input {
    width: 100%; /* 수정 입력창도 100%로 설정 */
    margin-top: 10px;
}
  .comment-date{
    font-size: 12px;
    background-color:transparent;
    color: #676767;
  }

  .comment-commentBtn{
    font-size: 12px;
    background-color:transparent;
    color: #FF6DC6;
    font-weight: bold;
    cursor: pointer;
  }


  .scroll-to-top-button {
    width: auto; /* 버튼의 너비를 콘텐츠에 맞게 자동 조정 */
    color: #676767c1;
    background-color: #FFE6FA;
    border: none;
    padding: 10px 20px; /* 좌우 패딩을 추가하여 버튼 크기 조절 */
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center; /* 텍스트를 버튼 중앙에 정렬 */
  }
  .scroll-to-top-container {
    display: flex;
    justify-content: center; /* 버튼을 가로로 중앙에 배치 */
    margin-top: 20px; /* 위쪽 여백 추가 */
  }

  .no-comments {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-top: 20px;
    background-color: #fdedf5;
    border: 1px solid #ff88d769;
    border-radius: 10px;
    color: #666;
    font-size: 16px;
    text-align: center;
  }
  .no-login-comment {
    width: 100%; /* 항상 너비를 100%로 설정 */
    height: 100px;
    padding: 10px;
    border: 2px solid #FECDF4;
    border-radius: 5px;
    font-size: 14px;
    /* resize: none; */
    margin-bottom: 20px;
    outline: none;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    background-color: #fdedf5;
    color: #666;
    font-size: 16px;
    text-align: center;
  }
  .no-login-comments-icon {
    background-color: transparent;
    font-size: 30px;
    margin-top: 10px;
    color: #ff88d7;
  }

  .no-comments-icon {
    background-color: transparent;
    font-size: 50px;
    margin-bottom: 10px;
    color: #ff88d7;
  }
  
  .no-comments p {
    margin: 0;
    font-size: 16px;
    color: #333;
  }
  .flexRow{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  .flexRow-reply{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  .comment-like-btns{
    display: flex;
    flex-direction: row;
  }
  .comment-content-editDelete{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  /* 반응형 미디어 쿼리 추가 */
@media (max-width: 600px) {
  .postdetail-detail{
    margin-top:0px;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    justify-items: center;
    align-items: center; /* 요소들을 가로 중앙에 배치 */
  }
  .reply-section{
    width: 100%;

    justify-content: center;
    justify-items: center;
    align-items: center; /* 요소들을 가로 중앙에 배치 */
  }
  .reply-edit-delete{
    display: none;
  }
  .reply-edit-delete-mobile{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    justify-content: flex-start;
  }
  .comment-section{
    width: 100%;
    margin-top: 30px;
    justify-content: center;
    justify-items: center;
    align-items: center; /* 요소들을 가로 중앙에 배치 */
  }
  /* .flexRow-reply{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

  }
  .flexRow{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  } */
  .spaceBar{
    width:10px;
    height: 10px;
    margin-top: 10px;
    margin-right: 5px;
  }

}

@media (max-width: 500px) {
  .comment-like-btns{
    display: flex;
    flex-direction: column;
  }
  .postdetail-detail {
    margin-top: 0;
    width: 100%; /* 고정된 80% 대신 100%로 설정 */
    margin: 0px;
    justify-content: center;
    align-items: center;
    max-width: 100%; /* 최대 너비 설정 */
  }
  .reply-section{
    width: 100%;
    margin-left: 0px;
    margin:0px;
    margin-top: 10px;
  }
  .comment-section {
    width: 100%;
    justify-content: center;
    align-items: center;
    max-width: 100%;
  }
  .comment-header2{
 
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%; /* 헤더도 너비를 100%로 설정 */
    max-width: 100%;
  }
  .comment-list .comment-item{
    width: 100%; /* 너비를 100%로 설정 */
    max-width: 100%;
    align-items: center;
  }
  .comment-list .comment-item2 {
    width: 100%; /* 너비를 100%로 설정 */
    max-width: 100%;
    align-items: center;
  }
  .textarea-container,
  .textarea-container2 {
    width: 100%;
    max-width: 100%;
    align-items: center;
  }
  .reply-edit-delete{
    display: none;
  }
  .reply-edit-delete-mobile{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    justify-content: flex-start;
  }
  .like-button2 {
    margin-top: 20px;
    background-color: transparent;
    border: 2px solid #ff88d769;
    border-radius: 10px;
    width: 50px;
    height: 30px;
    min-width: 50px; /* 최소 크기 설정 */
    min-height: 30px; /* 최소 크기 설정 */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 3px 7px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
  }
}