.main {
  display: flex;
  justify-content: center; /* 수평 방향으로 중앙에 정렬 */
  align-items: center; /* 수직 방향으로 중앙에 정렬 */
  min-height: 80vh; /* 콘텐츠가 중앙에 오도록 충분한 높이를 설정 */
}
.mainCharacter_profile {
  position: absolute; 
  top: -180px; 
  z-index: 0; 
  width: 100%;
  max-width: 400px;
  height: auto;
}
.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center; /* 모든 요소를 중앙 정렬 */
  position: relative; /* 이미지와 폼을 상대적으로 배치하기 위해 추가 */
}
.loginStruct {
  background-color: white;
  width: 100%;
  max-width: 400px; /* 폼의 최대 너비 설정 */
  padding: 2rem; /* 내부 여백 설정 */
  border-radius: 8px; /* 모서리를 둥글게 (선택 사항) */
  border: 2px solid #FF88D7; 
  text-align: center; /* 텍스트와 내부 요소 중앙 정렬 */
  position: relative;
  z-index: 1; /* 폼을 이미지 위로 가져오기 위해 z-index 추가 */
}
.loginStruct form {
  display: flex;
  flex-direction: column;
}

.loginStruct button {
  margin: 0 auto; /* 버튼을 중앙에 정렬 */
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
.google-login-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px 20px;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500; /* Roboto Medium */
  cursor: pointer;
  border-radius: 4px;
  margin-bottom: 10px; /* 다른 버튼과의 간격 */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.google-login-button .google-logo {
  height: 18px;
  width: 18px;
  margin-right: 24px;
}

.google-login-button:hover {
  background-color: #FFFFFF;
}

.google-login-button:active {
  background-color: #FFFFFF;
}
.login-button{
  margin-top:30px;
  background-color: #FFE6FA;
  color: #000;
  border: none;
  border-radius: 30px;
  padding: 10px 60px;
  margin-bottom: 10px; /* 원하는 간격으로 설정 */
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}