/*런드리고딕*/
@font-face {
  font-family: 'TTLaundryGothicB';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/TTLaundryGothicB.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
h1, h2, h3 {
  font-family: 'TTLaundryGothicB', sans-serif;
}

/* 이서윤체 */
@font-face { 
  font-family: 'LeeSeoyun';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/LeeSeoyun.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

span,div,button,input {
  font-family: 'LeeSeoyun', sans-serif;
  background-color: transparent;
}


.main-content {
    display: grid;
    grid-template-columns: 2.5fr 1fr; /* 두 개의 열 */
    gap: 20px; /* 요소들 간의 간격 */
    padding: 20px;
  }
  
  section {
    margin-bottom: 2rem;
  }

  .popularpost-section {
    margin-left:50px;
    padding: 1rem;
    border-radius: 8px;
    grid-column: 1 / 2;
    grid-row: 1 / 5;
    height: 300px; /* 고정 높이 설정 */
  }
  .newpost-section {
    margin-left:50px;
    padding: 1rem;
    border-radius: 8px;
    grid-column: 1 / 2;
    grid-row: 5 / 7;
    height: 300px; /* 고정 높이 설정 */
  }
  
  .profile-section {
    display: flex;
    flex-direction: column; /* 수직 방향 정렬 */
    align-items: center; /* 수직 방향 가운데 정렬 */
    border: 2px solid #FF88D7; /* 테두리 추가 */
    padding-top: 1rem;
    border-radius: 8px;
    grid-column: 2 / 3;
    grid-row: 3/ 4; /* 1행부터 5행까지 차지 */
    height: 300px; /* 고정 높이 설정 */
    max-height: 700px;
    margin-right: 100px;
    margin-top: 15px;
    min-width: 300px; /* 최소 너비 추가 */
  
  }
  .profile-section-login{
    display: flex;
    flex-direction: column; /* 수직 방향 정렬 */
    align-items: center; /* 수직 방향 가운데 정렬 */
    border: 2px solid #FF88D7; /* 테두리 추가 */
    padding: 1rem;
    border-radius: 8px;
    grid-column: 2 / 3;
    grid-row: 3/ 4; /* 1행부터 5행까지 차지 */
    height: 300px; /* 고정 높이 설정 */
    max-height: 700px;
    margin-right: 100px;
    margin-top: 15px;
    min-width: 350px; /* 최소 너비 추가 */
  
  }
  .profile-section-profileSetting {
    display: flex;
    flex-direction: column; /* 수직 방향 정렬 */
    align-items: center; /* 수직 방향 가운데 정렬 */
    border: 2px solid #FF88D7; /* 테두리 추가 */
    padding: 1rem;
    border-radius: 8px;
    grid-column: 2 / 3;
    grid-row: 3/ 4; /* 1행부터 5행까지 차지 */
    height: 300px; /* 고정 높이 설정 */
    max-height: 700px;
    margin-right: 100px;
    margin-top: 100px;
    margin-left:70px;
    min-width: 300px; /* 최소 너비 추가 */
  
  }




  .profile-section-postManage {
    display: flex;
    flex-direction: column; /* 수직 방향 정렬 */
    align-items: center; /* 수직 방향 가운데 정렬 */
    border: 2px solid #FF88D7; /* 테두리 추가 */
    padding: 1rem;
    border-radius: 8px;
    grid-column: 2 / 3;
    grid-row: 3/ 4; /* 1행부터 5행까지 차지 */
    height: 300px; /* 고정 높이 설정 */
    max-height: 700px;
    margin-right: 100px;
    margin-top: 100px;
    margin-left:70px;
    min-width: 300px; /* 최소 너비 추가 */
  }
  .populartags-section {
    margin-top:-20px;
    padding: 1rem;
    border-radius: 8px;
    grid-column: 2 / 3;
    grid-row: 5 / 6; /* 5행부터 6행까지 차지 */
    height: 100px; /* 고정 높이 설정 */
  }
  
  .lotsoffollowerbloger-section {
    padding: 1rem;
    border-radius: 8px;
    grid-column: 2 / 3;
    grid-row: 6 / 10; /* 6행부터 7행까지 차지 */
    margin-top: 10px;
    height: 100%;
  }
  
  /* .carrotbloger-section {
    padding: 1rem;
    border-radius: 8px;
    grid-column:2 / 3;
    grid-row: 7 / 8; 
    height: 100px; 
  } */

  @media (max-width: 1241px) {
    .App .main-content {
      grid-template-columns: 1fr !important; /* 구체적인 선택자 사용 */
    }

    .profile-section {
      margin-left:10%;
      display: flex;
      flex-direction: column; /* 수직 방향 정렬 */
      justify-content: center;
      align-items: center; /* 수직 방향 가운데 정렬 */
      border: 2px solid #FF88D7; /* 테두리 추가 */
      padding-top: 1rem;
      border-radius: 8px;
      grid-row: 1/ 2; /* 1행부터 5행까지 차지 */
      grid-column: auto;
      height: 300px; /* 고정 높이 설정 */
      max-height: 700px;
      margin-right:200px;
      margin-top: 15px;
      width: 80%; /* 섹션을 가로 전체 차지하게 변경 */
      min-width: 300px; /* 최소 너비 추가 */
    
    }
    .profile-section-login {
      margin-left:10%;
      display: flex;
      flex-direction: column; /* 수직 방향 정렬 */
      justify-content: center;
      align-items: center; /* 수직 방향 가운데 정렬 */
      border: 2px solid #FF88D7; /* 테두리 추가 */
      padding: 1rem;
      border-radius: 8px;
      grid-row: 1/ 2; /* 1행부터 5행까지 차지 */
      grid-column: auto;
      height: 300px; /* 고정 높이 설정 */
      max-height: 700px;
      margin-right:200px;
      margin-top: 15px;
      width: 80%; /* 섹션을 가로 전체 차지하게 변경 */
      min-width: 300px; /* 최소 너비 추가 */
    
    }
     .popularpost-section {
      display: flex;
      flex-direction: column; /* 수직 방향 정렬 */

      margin-left:50px;
      padding: 1rem;
      border-radius: 8px;
      grid-column: auto;
      grid-row: 3 /4;
      height: 300px; /* 고정 높이 설정 */
    }
    .newpost-section {
      display: flex;
      flex-direction: column; /* 수직 방향 정렬 */

      margin-left:50px;
      padding: 1rem;
      border-radius: 8px;
      grid-row: 7/ 8;
      grid-column: auto;
      height: 300px; /* 고정 높이 설정 */
    }
    
    .populartags-section {
      
      padding: 1rem;
      grid-column: auto;
      border-radius: 8px;
      margin-left:10%;
      grid-row: 11 / 12; /* 5행부터 6행까지 차지 */
      height: 100px; /* 고정 높이 설정 */
    }
    
    .lotsoffollowerbloger-section {
      margin-top: 0px;
      padding: 1rem;
      border-radius: 8px;
      margin-left:10%;
      grid-column: auto;
      grid-row:12 / 14; /* 6행부터 7행까지 차지 */
      
    }
    
    /* .carrotbloger-section {

      padding: 1rem;
      border-radius: 8px;
      margin-left:10%;
      grid-column: auto;
      grid-row: 13 / 14;
      height: 100px; 
    } */
  }
@media (max-width: 1141px){
  .popularpost-section {
    display: flex;
    flex-direction: column; /* 수직 방향 정렬 */

    margin-left:50px;
    padding: 1rem;
    border-radius: 8px;
    grid-column: auto;
    grid-row: 3 /4;
    height: 300px; /* 고정 높이 설정 */
  }
  .newpost-section {
    display: flex;
    flex-direction: column; /* 수직 방향 정렬 */
 
    margin-left:50px;
    padding: 1rem;
    border-radius: 8px;
    grid-row: 7/ 8;
    grid-column: auto;
    height: 300px; /* 고정 높이 설정 */
  }
  
  .populartags-section {
    display: flex;
    flex-direction: column; /* 수직 방향 정렬 */
    align-items: center; /* 수직 방향 가운데 정렬 */
    padding: 1rem;
    margin-top:0px;
    grid-column: auto;
    border-radius: 8px;
    margin-left:10%;
    grid-row: 10 / 11; /* 5행부터 6행까지 차지 */
    height: 100px; /* 고정 높이 설정 */
  }
  
  .lotsoffollowerbloger-section {
    display: flex;
    flex-direction: column; /* 수직 방향 정렬 */
    align-items: center; /* 수직 방향 가운데 정렬 */
    padding: 1rem;
    border-radius: 8px;
    margin-left:10%;
    grid-column: auto;
    grid-row: 11 / 15; /* 6행부터 7행까지 차지 */
    
  }
  
  /* .carrotbloger-section {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    padding: 1rem;
    border-radius: 8px;
    margin-left:10%;
    grid-column: auto;
    grid-row: 12 / 13;
    height: 100px; 
  } */
}

/*모바일 화면*/
@media (max-width: 537px){
 
  .profile-section {

      display: flex;
      flex-direction: column; /* 수직 방향 정렬 */
      justify-content: center;
      align-items: center; /* 수직 방향 가운데 정렬 */
      border: none; /* 테두리 추가 */
      padding-top: 1rem;
      padding: 0rem;
      border-radius: 8px;
      grid-row: 1/ 2; /* 1행부터 5행까지 차지 */
      grid-column: auto;
      max-width: 200px;
      max-height: 700px;
      margin-top: 15px;
      margin:0px;
      min-width: 100%;
      width: 100%;
  }
  .profile-section-login {

    display: flex;
    flex-direction: column; /* 수직 방향 정렬 */
    justify-content: center;
    align-items: center; /* 수직 방향 가운데 정렬 */
    border: none; /* 테두리 추가 */
    padding: 1rem;
    padding: 0rem;
    border-radius: 8px;
    grid-row: 1/ 2; /* 1행부터 5행까지 차지 */
    grid-column: auto;
    max-width: 200px;
    max-height: 700px;
    margin-top: 15px;
    margin:0px;
    min-width: 100%;
    width: 100%;
}

  .popularpost-section {
    display: flex;
    flex-direction: column; /* 수직 방향 정렬 */
    margin-left: -0px;
    border-radius: 8px;
    grid-column: auto;
    grid-row: 3 /5;
    height: 300px; /* 고정 높이 설정 */
  }
  .newpost-section {
    display: flex;
    flex-direction: column; /* 수직 방향 정렬 */
    margin-left: -0px;
    border-radius: 8px;
    grid-row: 8/ 9;
    grid-column: auto;
    height: 300px; /* 고정 높이 설정 */
  }
  .populartags-section {
    display: flex;
    flex-direction: column; /* 수직 방향 정렬 */
    align-items: center; /* 수직 방향 가운데 정렬 */
    padding: 1rem;
    margin-top: 10px;
    grid-column: auto;
    border-radius: 8px;
    margin-left: -0px;
    grid-row: 10/ 11; /* 5행부터 6행까지 차지 */
    height: 100px; /* 고정 높이 설정 */
  }
  
  .lotsoffollowerbloger-section {
    display: flex;
    flex-direction: column; /* 수직 방향 정렬 */
    align-items: center; /* 수직 방향 가운데 정렬 */
    padding: 1rem;
    border-radius: 8px;
    margin-left: -0px;
    grid-column: auto;
    grid-row: 12 / 13; /* 6행부터 7행까지 차지 */
   
  }
  
  /* .carrotbloger-section {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    padding: 1rem;
    border-radius: 8px;
    margin-left: -0px;
    grid-column: auto;
    grid-row: 13 /14; 
    height: 100px; 
  } */
}

@media (max-width:360px){
  .lotsoffollowerbloger-section {
  
    grid-column: auto;
    grid-row: 13 / 14; /* 6행부터 7행까지 차지 */
   
  }
  
  /* .carrotbloger-section {
  
    grid-column: auto;
    grid-row: 14 /15; 
    height: 100px; 
  } */
}