.main-content {
    display: grid;
    grid-template-columns: 2.5fr 1fr; /* 두 개의 열 */
    gap: 20px; /* 요소들 간의 간격 */
    padding: 20px;
  }
  
  section {
    margin-bottom: 2rem;
  }

  .popularpost-section {
    padding: 1rem;
    border-radius: 8px;
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    height: 300px; /* 고정 높이 설정 */
  }
  .newpost-section {
    padding: 1rem;
    border-radius: 8px;
    grid-column: 1 / 2;
    grid-row: 4 / 7;
    height: 300px; /* 고정 높이 설정 */
  }
  
  .profile-section {
    display: flex;
    flex-direction: column; /* 수직 방향 정렬 */
    align-items: center; /* 수직 방향 가운데 정렬 */
    border: 2px solid #FF88D7; /* 테두리 추가 */
    padding: 1rem;
    border-radius: 8px;
    grid-column: 2 / 3;
    grid-row: 1 / 5; /* 1행부터 5행까지 차지 */
    height: 300px; /* 고정 높이 설정 */
    max-height: 500px;
  }
  .profile-section.myBlog {
    grid-column: 1 / 2; /* 왼쪽 열에 배치 */
    grid-row: 1 / 2; /* 1행부터 5행까지 차지 */
    margin-top:40px;
  }
  .populartags-section {
    padding: 1rem;
    border-radius: 8px;
    grid-column: 2 / 3;
    grid-row: 5 / 6; /* 5행부터 6행까지 차지 */
    height: 100px; /* 고정 높이 설정 */
  }
  
  .lotsoffollowerbloger-section {
    padding: 1rem;
    border-radius: 8px;
    grid-column: 2 / 3;
    grid-row: 6 / 7; /* 6행부터 7행까지 차지 */
    height: 100px; /* 고정 높이 설정 */
  }
  
  .carrotbloger-section {
    padding: 1rem;
    border-radius: 8px;
    grid-column: 2 / 3;
    grid-row: 7 / 8; /* 7행부터 8행까지 차지 */
    height: 100px; /* 고정 높이 설정 */
  }

  