.populartags-section {
    padding: 20px;
  }
  
  .tags {
    display: flex;
    flex-wrap: wrap; /* 줄바꿈이 일어나도록 설정 */
    gap: 10px; /* 태그 간 간격 */
    /* justify-content: center; */
  }
  
  .tag {
    padding: 10px;
    text-overflow: ellipsis; /* 넘치는 텍스트는 말줄임표 처리 */
    background-color: #f0f0f0;
    border-radius: 5px;
    overflow: hidden; /* 태그 내용이 넘치면 잘림 방지 */
    text-align: center;
    box-sizing: border-box;
    white-space: nowrap; /* 각 태그의 텍스트가 줄바꿈되지 않도록 설정 */
  }

  .tag:hover {
    max-width: 300px; /* 마우스를 올렸을 때 태그의 너비를 확장 */
    white-space: normal; /* 태그의 텍스트가 여러 줄로 나타날 수 있게 설정 */
    overflow: visible; /* 숨겨진 텍스트를 모두 표시 */
  }
  .tag-row {
    display: flex;
    justify-content: space-between; /* 태그 사이를 일정하게 분배 */
    width: 100%;
  }
  @media (max-width: 768px) {
    .tag {
        width: 80px; /* 화면이 작아지면 태그 크기를 줄임 */
      }
  }
  @media (max-width: 1141px){
    .tags {

      justify-content: center; 
    }
  }
  @media (max-width: 537px) {
    .tag {
        width: 60px; /* 더 작은 화면에서는 태그 크기를 더 줄임 */
      }
  }
 