/* 배경이 확대되는 애니메이션 */
@keyframes expandBackground {
  0% {
    transform: scale(0);
    opacity: 0.8;
  }
  100% {
    transform: scale(100);
    opacity: 0;
  }
}

.expand-background {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  background-color: pink;
  border-radius: 50%;
  transform: scale(0);
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  pointer-events: none;
  z-index: 999;
}

.expand-background.active {
  transform: scale(100);
  opacity: 0;
}


.popularpost-section {
    padding: 20px;
  }
  
  .posts {
    display: flex;
    gap: 20px;
    position: relative;
    transition: transform 0.5s ease-in-out;
  }
  .slide-in {
    transform: translateX(100%);
  }
  
  .slide-out {
    transform: translateX(-100%);
  }
  .loading-posts {
    display: flex;
    gap: 20px;
    position: relative;
  }
  .slider {
    position: relative;
    display: flex;
    align-items: center;
  }
  .all{
    margin-left: 10px;
    font-size: small;
    margin-bottom: 15px;
    color:rgb(152, 152, 152);
    cursor: pointer;
  }
  .slide-button.left, .slide-button.right {
    width: 50px; /* 버튼의 너비 */
    height: 50px; /* 버튼의 높이 */
    font-size: 24px; /* 버튼 내 텍스트 크기 */
    background-color: rgba(255, 255, 255, 0);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
  .slide-button.left {
    left: -30px;

  }
  
  .slide-button.right {
    right: -30px;

  }

  .post-popular {
    box-sizing: border-box;
    display: flex;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* 전환 효과 */
    flex-direction: column;
    width: 300px;
    height: 335px;
    border: 2px solid #FF88D7; /* 테두리 추가 */
    background-color: #FFE6FA;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.273);
  }
  .loading-post-popular {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 335px;
    border: none; /* 테두리 추가 */
    background-color: #dcdcdc;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.273);
  }

  .post-popular:hover {
    transform: translateY(-10px) scale(1.05); /* 마우스를 올리면 위로 약간 올라가고, 살짝 커짐 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.273); /* 약간의 그림자 효과 */
  }
  /* 기본 스타일 */
  .post-popular-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  .carrot-like{
    display: flex;
    flex-direction: row;
    justify-content: flex-start ;

  }
  .post-popular-footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 10px;
  }
  .post-popular.has-image .post-overlay {
    background-color: rgba(0, 0, 0, 0.413); /* 반투명한 검은색 오버레이 */
    padding-bottom: 40px;
    color: white;
    z-index: 2;
    width: 100%;
    height: 350px;
    object-fit: cover;
  }
  .post-popular-content {
    padding: 10px;
    margin-top: 50px;
  }
  
  .post-popular-author {
    font-size: 12px;
    color: #999;
    background-color: transparent;
    cursor: pointer;
  }
  .post-popular-author-white {
    font-size: 12px;
    color: #ffffff;
    background-color: transparent;
    cursor: pointer;
  }
  .post-popular-title {
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0;
  }
  
  .post-popular-text {
    font-size: 14px;
    line-height: 1.5;
    white-space: pre-wrap;
  }
  .post-content2{
    padding: 20px; /* post-main-content에 padding 추가 */
    margin-top: 20px;
    min-height: 100px;
    max-height: 100px; /* 원하는 높이로 설정 */
    overflow: hidden;
    text-overflow: ellipsis;
   
  }
  
  .post-popular-likes, .post-popular-comments {
    font-size: 12px;
    color: #555;
    font-weight: bold;
    background-color: transparent;
  }
  .post-popular-likes-white, .post-popular-comments-white {
    font-size: 12px;
    color: #ffffff;
    font-weight: bold;
    background-color: transparent;
  }
  .post-popular-category {
    font-size: 12px;
    color: #555;
    font-weight: bold;
    background-color: transparent;
  }
  .post-popular-category-white {
    font-size: 12px;
    color: #ffffff;
    font-weight: bold;
    background-color: transparent;
  }
  .post-popular-effect {
    font-size: 12px;
    color: #FF6DC6;
    background-color: transparent;
    font-weight: bold;
  }
  .post-popular-effect-white  {
    font-size: 12px;
    color: #ffffff;
    font-weight: bold;
    background-color: transparent;
  }

  @media (max-width: 1141px) {
    .post-popular-content {
      padding: 10px;
      margin-top: 0px;
    }
    
    .popularpost-section {
      padding: 20px;
    }
    
    .posts {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 100%;
    }
    .loading-posts{
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 100%;
    }
    .slider {
      position: relative;
      display: flex;
      align-items: center;
    }
    .all{
      margin-left: 10px;
      font-size: small;
      margin-bottom: 15px;
      color:rgb(152, 152, 152);
      cursor: pointer;
    }
    .slide-button.left, .slide-button.right {
      width: 50px; /* 버튼의 너비 */
      height: 50px; /* 버튼의 높이 */
      font-size: 24px; /* 버튼 내 텍스트 크기 */
      background-color: rgba(255, 255, 255, 0);
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
  }
    .slide-button.left {
      left: -30px;
  
    }
    
    .slide-button.right {
      right: -30px;
  
    }
     /* 각 포스트부분 style */
    .post-popular {
      display: flex;
      flex-direction: column;
      width: 100%; /* 너비를 항상 100%로 설정 */
      min-width: 100%; /* 최소 너비도 100%로 설정 */
      height: 100px; /* 높이는 내용에 따라 자동 */
      border: 2px solid #FF88D7;
      background-color: #FFE6FA;
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      flex-grow: 1; /* 포스트가 남은 공간을 가득 채우도록 함 */
      flex-shrink: 0; /* 포스트가 작아지지 않도록 방지 */
    }

      /* 각 포스트부분 style */
      .loading-post-popular {
        display: flex;
        flex-direction: column;
        width: 100%; /* 너비를 항상 100%로 설정 */
        min-width: 100%; /* 최소 너비도 100%로 설정 */
        height: 100px; /* 높이는 내용에 따라 자동 */
        border: none;
        background-color: #dcdcdc;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        flex-grow: 1; /* 포스트가 남은 공간을 가득 채우도록 함 */
        flex-shrink: 0; /* 포스트가 작아지지 않도록 방지 */
      }
    /* 기본 스타일 */
    .post-popular-image {
      width: 100%;
      height: 200px;
      object-fit: cover;
    }
    
    .post-popular.has-image .post-overlay {
      background-color: rgba(0, 0, 0, 0.413); /* 반투명한 검은색 오버레이 */
      padding-bottom: 40px;
      color: white;
      z-index: 2;
      width: 100%;
      height: auto;
      object-fit: cover;

      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }
    .no-post-overlay{
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }
    .loading-post-overlay{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .post-popular-content {
      padding: 10px;
    }
    
    .post-popular-author {
      font-size: 12px;
      color: #999;
      background-color: transparent;
      cursor: pointer;
    }
    .post-popular-author-white {
      font-size: 12px;
      color: #ffffff;
      background-color: transparent;
      cursor: pointer;
    }
    .post-popular-title {
      font-size: 16px;
      font-weight: bold;
      margin: 10px 0;
      overflow: hidden;
      max-height: 18px;
 
      text-overflow: ellipsis;
    }
    
    .post-popular-text {
      font-size: 14px;
      line-height: 1.5;
      white-space: pre-wrap;
    }

    /* 각 포스트의 내용부분 style */
    .post-content2{
      padding: 20px; /* post-main-content에 padding 추가 */
      margin-top: 5px;
      min-height: 30px;
      max-height: 30px; /* 원하는 높이로 설정 */
      overflow: hidden;
      width: 100px;
      text-overflow: ellipsis;
     
    }
  
    .post-popular-footer {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      margin-top: 10px;
    }
    
    .post-popular-likes, .post-popular-comments {
      font-size: 12px;
      color: #555;
      font-weight: bold;
      background-color: transparent;
    }
    .post-popular-likes-white, .post-popular-comments-white {
      font-size: 12px;
      color: #ffffff;
      font-weight: bold;
      background-color: transparent;
    }
    .post-popular-effect {
      font-size: 12px;
      color: #FF6DC6;
      background-color: transparent;
      font-weight: bold;
    }
    .post-popular-effect-white  {
      font-size: 12px;
      color: #ffffff;
      font-weight: bold;
      background-color: transparent;
    }
  }

  @media (max-width: 653px) {

    /* 각 포스트의 내용부분 style */
    .post-content2{
      padding: 20px; /* post-main-content에 padding 추가 */
      margin-top: 5px;
      min-height: 30px;
      max-height: 30px; /* 원하는 높이로 설정 */
      overflow: hidden;
      width: 0px;
      display: none;
      text-overflow: ellipsis;
     
    }
  
  }

  /*모바일 화면*/
@media (max-width: 537px){
  .post-popular-author {
    display: none;
  }
 /* 각 포스트부분 style */
 .post-popular {
  display: flex;
  flex-direction: column;
  width: 100%; /* 너비를 항상 100%로 설정 */
  min-width: 100%; /* 최소 너비도 100%로 설정 */
  height: 100px; /* 높이는 내용에 따라 자동 */
  border: 2px solid #FF88D7;
  background-color: #FFE6FA;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex-grow: 1; /* 포스트가 남은 공간을 가득 채우도록 함 */
  flex-shrink: 0; /* 포스트가 작아지지 않도록 방지 */
}
 /* 각 포스트부분 style */
 .loading-post-popular {
  display: flex;
  flex-direction: column;
  width: 100%; /* 너비를 항상 100%로 설정 */
  min-width: 100%; /* 최소 너비도 100%로 설정 */
  height: 100px; /* 높이는 내용에 따라 자동 */
  border: none;
  background-color: #dcdcdc;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex-grow: 1; /* 포스트가 남은 공간을 가득 채우도록 함 */
  flex-shrink: 0; /* 포스트가 작아지지 않도록 방지 */
}
.slider {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.post-popular-category {
  display: none;
}
.post-popular-category-white {
  display: none;
}
.post-popular-likes, .post-popular-comments {
  
  font-size: 12px;
  color: #555;
  font-weight: bold;
  background-color: transparent;
}
/* .post-popular-likes-white, .post-popular-comments-white {
  margin-top: 20px;
  font-size: 12px;
  color: #ffffff;
  font-weight: bold;
  background-color: transparent;
} */
}
