.mainCharacter_profile {
    width: 150px;
    height: 150px;
}
.mainCharacter_profile_login {
    width: 150px;
    height: 150px;
    margin-right: 10px; /* 이미지와 닉네임 사이의 간격 조절 */
    
}
.profile-container {
  display: flex;
  align-items: center;

}
.username {
    font-size: 1.2em;
}
.logins_profile {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.logins_profile button, .logins_profile span {
    margin-right: 10px;
    background-color: rgb(255, 255, 255);
    border: rgb(255, 255, 255);
}

.login-buttons-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.login-button_profile {
    margin-top: 30px;
    background-color: #FFE6FA;
    color: #000;
    border: none;
    padding: 10px 16px;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}
