/* SearchBar.css */
.search-bar {
    display: flex;
    align-items: center;
    justify-content:flex-end; /* 수평 방향으로 중앙에 정렬 */
    flex-wrap: nowrap;
    /* width: 100%; */
    min-width: 250px;
    height: 35px;
    margin-bottom: 10px;
    border: 2px solid #f0a4d8;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .search-bar input {
    flex-grow: 1;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 16px;
    background-color: #FFE6FA;
  }
  .search-bar input:focus {
    background-color: #FFE6FA; /* 포커스 상태에서도 동일한 배경색 유지 */
  }
  .search-bar button {
    background-color: #FFE6FA;
    border: none;
    color: white;
    padding: 10px 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .searchIcon{
    width: 25px;
    height: 25px;
  }
  