/* SearchBar.css */
.search-bar {
    display: flex;
    align-items: center;
    justify-content:flex-end; 
    flex-wrap: nowrap;
    
    margin-right: 20px;
    /* min-width: 250px; */
    height: 35px;
    margin-bottom: 10px;
    border: 2px solid #FF6DC6;
    border-radius: 12px;
    overflow: hidden;
    margin-top:5px
  }
  
  .search-bar input {
    flex-grow: 1;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 16px;
    background-color: #FFE6FA;
  }
  .search-bar input:focus {
    background-color: #FFE6FA; /* 포커스 상태에서도 동일한 배경색 유지 */
  }
  .search-bar button {
    background-color: #FFE6FA;
    border: none;
    color: white;
    padding: 10px 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .searchIcon{
    width: 25px;
    height: 25px;
  }
  
  @media(max-width: 503px){
    .search-bar {
      width:100%;
      margin-right: 10px;
      
    }
    .search-bar input {
      width:100%;
      flex-grow: 0;
      height: 100%;
      padding: 5px; 
      font-size: 14px; 

    }
    
    .search-bar button {
      padding: 5px; 
    }
    .searchIcon{
      width: 20px;
      height: 20px;
    }
    
  }
