.write-new-post {
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    
  }
  
  .write-new-post h2 {
    margin-bottom: 20px;
    text-align: center;
    
  }
  
  .write-new-post .form-group {
    margin-bottom: 15px;
    
    
  }
  
  .write-new-post .form-control {
    width: 100%;
    border: none; /* 테두리 제거 */
    box-shadow: none; /* 그림자 제거 */
  }
  .write-new-post .form-control:focus {
    outline: none; /* 포커스 시 아웃라인 제거 */
    background-color: #ffffff00; /* 포커스 시 배경색 변경 (선택사항) */
  }
  .write-new-post .textarea {
    height: 500px; /* 내용 필드 높이 설정 */
    
  }
  .write-new-post .title-input {
    font-size: 1.5em; /* 제목 입력 글씨 크기 조정 */
  }
  .write-new-post .form-check {
    margin-bottom: 10px;
    
  }
  
  .write-new-post .tags {
    margin-bottom: 15px;
  }
  
  .write-new-post .tag {
    display: inline-block;
    background-color: #FFE6FA;
    border-radius: 12px;
    padding: 5px 10px;
    margin-right: 5px;
    font-size: 14px;
  }
  .tag button {
    background: none;
    border: none;
    color: rgb(0, 0, 0);
    font-size: 1em;
    margin-left: 5px;
    cursor: pointer;
  }
  .write-new-post .content-toolbar button {
    background-color: #FFE6FA;
    margin-left: 10px;
    padding: 5px 10px;
    cursor: pointer;
    border-color: #ffe6fa00;
    margin-bottom: 20px;
  }
  .write-new-post .custom-file {
    margin-bottom: 15px;
  }
  
  .write-new-post .button-group {
    display: flex;
    justify-content: space-between;
  }
  
  .write-new-post .btn-secondary {
        margin-top:30px;
        background-color: #FFE6FA;
        color: #000;
        border: none;
        border-radius: 30px;
        padding: 10px 60px;
        font-size: 16px;
        cursor: pointer;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        transition: background-color 0.3s ease;
  }
  
  .write-new-post .btn-primary {
        margin-top:30px;
        background-color: #FFE6FA;
        color: #000;
        border: none;
        border-radius: 30px;
        padding: 10px 60px;
        font-size: 16px;
        cursor: pointer;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        transition: background-color 0.3s ease;
  }
  .separator {
    height: 1px;
    background-color: #ccc; /* 회색 구분선 */
    margin: 20px 0; /* 위아래 마진 */
  }
  /* WriteNewPost.css */
.dropdown {
    position: relative;
    display: inline-block;
  }
/*   
  .dropdown-toggle {
    background-color: #ffffff00;
    color: #ff69b4;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown-menu {
    display: block;
    position: absolute;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .dropdown-item {
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
  }
  
  .dropdown-item:hover {
    background-color: #FFE6FA;
  } */
.private{
  margin-top:50px;
}

.tagInput{
  width: 100%;
  border: none; /* 테두리 제거 */
  box-shadow: none; /* 그림자 제거 */
  margin-top:100px;
  margin-bottom: 10px;
}

.title-and-privacy {
  display: flex;
  align-items: center;
  gap: 10px; /* 제목과 공개 여부 사이의 간격 */
}

.title-input-group {
  flex-grow: 1; /* 제목 입력창이 가능한 많이 공간을 차지하도록 */
}

.privacy-checkbox-group {
  flex-shrink: 0; /* 공개 여부 선택이 너무 작아지지 않도록 */
}
