.main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.mainCharacter_getpost {
  width:150px;
  height: auto;
}
 /* WriteNewPost.css */
 .dropdown-getpost {
  position: relative;
  display: inline-block;
}

.dropdown-getpost-menu {
  display: block;
  position: absolute;
  background-color: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-getpost-item {
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
}

.dropdown-getpost-item:hover {
  background-color: #FFE6FA;
}  
.dropdown-getpost-toggle {
  background-color: #ffffff00;
  color: #060606;
  padding: 10px 20px;
  border-width:2px;
  border: none;
  cursor: pointer;
  margin-bottom: 5px;
  display: flex;
  flex-wrap: nowrap;

}
.dropdown-category-name{
  flex-wrap: nowrap;
}
  .title_manage {
    margin-bottom: 20px;
    color:  #f0a4d8;
  }
  
  .post-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .post-card {
    background-color: #FFE6FA;
    border: 0px;
    border-radius: 5px;
    height: 200px;
    max-width: 100%;
    padding: 0; /* post-main-header와 맞추기 위해 padding을 0으로 설정 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .post-header {
    background-color: #f0a4d8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px; /* padding 추가 */
    border-top-left-radius: 10px; /* 모서리를 post-card와 맞춤 */
    border-top-right-radius: 10px; /* 모서리를 post-card와 맞춤 */
  }
  .title-container {
    display: flex;
    align-items: center;
    flex-wrap:wrap;
  }
  .post-title {
    max-width: 450px;
    font-size: 20px;
    margin: 0;
    color: white; /* 글씨색 흰색으로 설정 */
    margin-right: 10px; /* 제목과 닉네임 사이의 간격을 조절합니다 */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; /* 한 줄로 표시하고 넘치는 부분은 생략 표시 (...) */
  }
  .user-nickname {
    font-size: 0.9em; /* 닉네임의 크기를 조절합니다 */
    color:white; /* 닉네임의 색상을 조절합니다 */
    background-color: #ffffff00;
  }
  .post-category{
    color: rgba(245, 245, 245, 0.842); /* 글씨색 흰색으로 설정 */
    background-color: #f0a4d8;
  }
  .post-meta {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .post-date {
    color: white; /* 글씨색 흰색으로 설정 */
    background-color: #f0a4d8;
  }
  
  .post-stats {
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: #f0a4d8;

  }
  
  .post-likes,
  .post-comments {
    display: flex;
    align-items: center;
    color: white; /* 글씨색 흰색으로 설정 */
    background-color: #f0a4d8;
  }
  
  .post-content {
    padding: 20px; /* post-main-content에 padding 추가 */
    margin-top: 10px;
    max-height: 50px; /* 원하는 높이로 설정 */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; /* 한 줄로 표시하고 넘치는 부분은 생략 표시 (...) */
  }
  .post-content-short {
    padding: 20px; /* post-main-content에 padding 추가 */
    margin-top: 10px;
    max-height: 150px; /* 원하는 높이로 설정 */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; /* 한 줄로 표시하고 넘치는 부분은 생략 표시 (...) */
  }
  .post-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 10px;
    padding: 0 20px 20px; /* 좌우 padding 추가, 하단 padding 추가 */
  }
  
  .edit-btn,
  .delete-btn {
    background-color: #ff80bf;
    border: none;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .edit-btn:hover,
  .delete-btn:hover {
    background-color: #ff4da6;
  }
  /* .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .pagination-btn {
    background-color: #ff4da6;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
  }
  
  .pagination-btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .pagination-info {
    font-size: 16px;
    margin: 0 10px;
  } */

  .profile_post_manage{
    max-width: 300px;
    border: 2px solid #FF88D7; /* 테두리 추가 */
    padding: 1rem;
    border-radius: 8px;
    height: 300px; /* 고정 높이 설정 */
    flex: 1;
    margin-left: 100px;
    margin-top: 100px;
    text-align: center;
  }

  .manage-button{
    border:none;
    background-color: white;
  }

  .manage-buttons{
    margin-top: 50px;
  }

.getPost-container{
  display: flex;
  justify-content: center;
}
  .tabs {
    display: flex;
    align-items: center;

  }
  
  .tab-button {
    padding: 5px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 10px;
    background-color: #ff88d776;
    cursor: pointer;
    color: #ffffff;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .tab-button.active {
    background-color: #FF88D7; /* 활성화된 탭 색상 */
    color: white;
    font-weight: bold;
  }
  
  .tab-button:not(.active):hover {
    background-color: #ff88d7ac; /* 비활성화된 탭에 마우스를 올렸을 때 색상 */
  }
  .getpost-container {
    flex: 1;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border: #ff4da6;
    border-width: 5px;
  }

  .post-content img {
    max-height: 50px;  /* 이미지의 최대 너비를 부모 요소의 너비에 맞춤 */
    width: auto;     /* 이미지의 비율을 유지하며 높이를 자동 조정 */
    display: block;   /* 이미지를 블록 요소로 처리 */
  }
  @media (max-width:478px) {
    .post-actions {
      display: flex;
      justify-content: flex-end;
      gap: 10px;
      margin-top: 5px;
      padding: 0 20px 20px; /* 좌우 padding 추가, 하단 padding 추가 */
    }
    .dropdown-getpost-toggle {
      padding: 10px;
    }
  }