/* 글로벌 스타일 */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
  flex: 1;
}

/* Main 스타일 */
main {
  flex: 1;
  padding: 1rem;
}
/* Footer 스타일 */
footer {
  background-color: #FFE6FA;
  text-align: center;

}
